#s1{
  background-color: #B37849;
  font: italic small-caps bold 16px/2 cursive;
}
#s2{
  background-color: #FF9337;
  font: italic small-caps bold 16px/2 cursive;
}
#s3{
  background-color: #B37849;
  font: italic small-caps bold 16px/2 cursive;
}
#s4{
  background-color: #FF9337;
  font: italic small-caps bold 16px/2 cursive;
}

.menu {
  background-color: #521CFF;
  padding: 0;
  display: flex;
  justify-content: center;
  font: italic small-caps bold 16px/2 cursive;
}
.menu li {
  list-style-type: none;
  flex-basis: 200px;
  text-align: center;
  margin: 0 0.3rem;
}
.menu a {
  display: block;
  padding: 0.5rem;
  background-color: #401DB3;
  text-decoration: none;
  color: #111;
  border-bottom: 3px solid #333;
}
.menu a:hover {
    color: #E04E3A;
    background-color: #FF9337;
    border-color: #942618;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    max-width: 800px;
    margin: 1em auto;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px solid #999;
    border-radius: 3px;
}

.card img {
    object-fit: cover;
    width: 60%;
    height: 60%;
}

.card h2 {
    margin: 0;
    padding: .5rem;
}

.card .content {
    padding: .5rem;
}

.jolie{
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
  
.jolie:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
  
